[rhel-7-server-ose-4.7-rpms]
baseurl = https://{{ yum_endpoint }}/rhel/rhel-7-server-ose-4.7-rpms/
name = Red Hat Openshift Container Platform 4.7 for Red Hat Enterprise Linux 7 Server (RPMs)
enabled = 1
gpgcheck = 0