[rhel-7-server-ose-4.7-rpms]
baseurl = https://esnl.de/pkg/el/8/haproxy/2.0/x86_64/
name = Red Hat Openshift Container Platform 4.7 for Red Hat Enterprise Linux 7 Server (RPMs)
enabled = 1
gpgcheck = 0
