[server-rhceph-3-mon-rpms-rbd]
metadata_expire = 86400
baseurl = https://internal-storage-mr.example.com/878ee075988f48f5b3e7819f878291c3%3Aceph3-latest/rhel-7-server-rhceph-3-mon-rpms/
name = Red Hat Ceph Storage MON 3 for Red Hat Enterprise Linux 7 Server (RPMs)
enabled = 1
gpgcheck = 0

[server-rhceph-3-osd-rpms-rbd]
metadata_expire = 86400
baseurl = https://internal-storage-mr.example.com/878ee075988f48f5b3e7819f878291c3%3Aceph3-latest/rhel-7-server-rhceph-3-osd-rpms/
name = Red Hat Ceph Storage OSD 3 for Red Hat Enterprise Linux 7 Server (RPMs)
enabled = 1
gpgcheck = 0

[server-rhceph-3-tools-rpms-rbd]
metadata_expire = 86400
baseurl = https://internal-storage-mr.example.com/878ee075988f48f5b3e7819f878291c3%3Aceph3-latest/rhel-7-server-rhceph-3-tools-rpms/
name = Red Hat Ceph Storage TOOLS 3 for Red Hat Enterprise Linux 7 Server (RPMs)
enabled = 1
gpgcheck = 0
