[rhel-7-server-rhceph-4-mon-rpms-rbd]
metadata_expire = 86400
baseurl = http://yum.example.com/rhel/rhel-7-server-rhceph-4-mon-rpms/
name = Red Hat Ceph Storage MON 4 for Red Hat Enterprise Linux 7 Server (RPMs)
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
enabled = 1

[rhel-7-server-rhceph-4-tools-rpms-rbd]
metadata_expire = 86400
baseurl = http://yum.example.com/rhel/rhel-7-server-rhceph-4-tools-rpms/
name = Red Hat Ceph Storage Tools 4 for Red Hat Enterprise Linux 7 Server (RPMs)
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
enabled = 1
gpgcheck = 1

[rhel-7-server-rhceph-4-osd-rpms-rbd]
metadata_expire = 86400
baseurl = http://yum.example.com/rhel/rhel-7-server-rhceph-4-osd-rpms/
name = Red Hat Ceph Storage OSD 4 for Red Hat Enterprise Linux 7 Server (RPMs)
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
enabled = 1
gpgcheck = 1